<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RideGo">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.RideGo.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.onboarding.OnboardingActivity" android:exported="false" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.OtpVerifyActivity" />
        <activity android:name=".ui.auth.EmailVerificationActivity"/>
        <activity android:name=".ui.auth.CompleteProfileActivity" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.AddPhoneActivity" />
        <activity android:name=".ui.auth.AddEmailActivity" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.rider.main.RiderMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.rider.location.SetLocationActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.promotion.PromotionActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.profile.PersonalInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.profile.SecurityPrivacyActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.profile.DeviceManagementActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.booking.BookingActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.common.WebViewActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.legal.TermsActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.legal.PrivacyPolicyActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.profile.ReferralActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.profile.SupportActivity"
            android:exported="false" />

        <activity
            android:name=".ui.rating.AppRatingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.legal.FaqActivity"
            android:exported="false" />

        <activity
            android:name=".ui.legal.GuideActivity"
            android:exported="false" />

        <activity
            android:name=".ui.rider.location.SearchDestinationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.booking.FindingDriverActivity"
            android:exported="false" />

        <activity
            android:name=".ui.booking.TripDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.profile.OtherUserProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.favorite.FavoriteLocationsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.chat.ChatListActivity"
            android:exported="false" />

    </application>

</manifest>